.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  /* padding: 20px; */
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Card {
  border: 1px solid black;
	padding: 0.5rem 1rem;
	margin: .5rem;
	backgroundColor: white;
	/* cursor: move; */
	height : 30px;
}
.Card:hover {
  background-color: lightblue;
}

/* .App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
